---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><RateRequest xmlns="http://fedex.com/ws/rate/v13">  <WebAuthenticationDetail>    <UserCredential>      <Key>xkBPuqiFmGrOU4jL</Key>      <Password>UGu5boYODXZ2GEDyUN4Xi1v8E</Password>    </UserCredential>  </WebAuthenticationDetail>  <ClientDetail>    <AccountNumber>510087143</AccountNumber>    <MeterNumber>118723830</MeterNumber>  </ClientDetail>  <TransactionDetail>    <CustomerTransactionId>ActiveShipping</CustomerTransactionId>  </TransactionDetail>  <Version>    <ServiceId>crs</ServiceId>    <Major>13</Major>    <Intermediate>0</Intermediate>    <Minor>0</Minor>  </Version>  <ReturnTransitAndCommit>true</ReturnTransitAndCommit>  <VariableOptions>SATURDAY_DELIVERY</VariableOptions>  <RequestedShipment>    <ShipTimestamp>2016-06-02T13:03:55-07:00</ShipTimestamp>    <DropoffType>REGULAR_PICKUP</DropoffType>    <PackagingType>YOUR_PACKAGING</PackagingType>    <Shipper>      <Address>        <City>Ottawa</City>        <PostalCode>K1P1J1</PostalCode>        <CountryCode>CA</CountryCode>        <Residential>true</Residential>      </Address>    </Shipper>    <Recipient>      <Address>        <City>Chicago</City>        <PostalCode>60601</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Recipient>    <SmartPostDetail>      <Indicia>PARCEL_SELECT</Indicia>      <HubId>5902</HubId>    </SmartPostDetail>    <RateRequestTypes>ACCOUNT</RateRequestTypes>    <PackageCount>1</PackageCount>    <RequestedPackageLineItems>      <GroupPackageCount>1</GroupPackageCount>      <Weight>        <Units>KG</Units>        <Value>2.722</Value>      </Weight>      <Dimensions>        <Length>0</Length>        <Width>0</Width>        <Height>0</Height>        <Units>CM</Units>      </Dimensions>    </RequestedPackageLineItems>  </RequestedShipment></RateRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wily-Servlet:
      - Encrypt1 GaMcoOotgOSMyoYj73M4dsxJg8pg+egXqWxT0tlCBMozxB2FJoHW86iPptGsWeEMNrrhgg+c1uCrVTL453EE8LUyyZJ0ssHZDmgz/H0Xk331Sy1KEH2kUmXY7Mq3Tf+C2x1dy1Pfusrm9cQUmfaYGUuEozstA5P1NfcGry6IDn85XOqBBonxSdvvC8rf6NI64vf7VP9qCy53EqGXt++8UQ==
      X-Wily-Info:
      - Clear guid=12B70D62CC87128A0DFC1C13F888F6E9
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RateReply xmlns="http://fedex.com/ws/rate/v13" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><HighestSeverity>NOTE</HighestSeverity><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>886</Code><Message>Money Back Guarantee is not eligible for this pick up/delivery postal/zip code. </Message><LocalizedMessage>Money Back Guarantee is not eligible for this pick up/delivery postal/zip code. </LocalizedMessage></Notifications><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>886</Code><Message>Money Back Guarantee is not eligible for this pick up/delivery postal/zip code. FDXG</Message><LocalizedMessage>Money Back Guarantee is not eligible for this pick up/delivery postal/zip code. FDXG</LocalizedMessage><MessageParameters><Id>OPERATING_COMPANY</Id><Value>FDXG</Value></MessageParameters></Notifications><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>819</Code><Message>The origin state/province code has been changed.  </Message><LocalizedMessage>The origin state/province code has been changed.  </LocalizedMessage></Notifications><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>820</Code><Message>The destination state/province code has been changed.  </Message><LocalizedMessage>The destination state/province code has been changed.  </LocalizedMessage></Notifications><TransactionDetail><CustomerTransactionId>ActiveShipping</CustomerTransactionId></TransactionDetail><Version><ServiceId>crs</ServiceId><Major>13</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><RateReplyDetails><ServiceType>INTERNATIONAL_FIRST</ServiceType><PackagingType>YOUR_PACKAGING</PackagingType><DeliveryStation>CHIA </DeliveryStation><DeliveryDayOfWeek>FRI</DeliveryDayOfWeek><DeliveryTimestamp>2016-06-03T08:00:00</DeliveryTimestamp><CommitDetails><CommodityName>DOCUMENTS</CommodityName><ServiceType>INTERNATIONAL_FIRST</ServiceType><CommitTimestamp>2016-06-03T08:00:00</CommitTimestamp><DayOfWeek>FRI</DayOfWeek><DestinationServiceArea>A1</DestinationServiceArea><BrokerToDestinationDays>0</BrokerToDestinationDays><CommitMessages><Code>134</Code><Message>REQUEST COMPLETED</Message></CommitMessages><DeliveryMessages> 8:00 A.M. IF NO CUSTOMS DELAY</DeliveryMessages><DocumentContent>DOCUMENTS_ONLY</DocumentContent><RequiredDocuments>INTERNATIONAL_AIRWAY_BILL</RequiredDocuments></CommitDetails><DestinationAirportId>ORD</DestinationAirportId><IneligibleForMoneyBackGuarantee>false</IneligibleForMoneyBackGuarantee><OriginServiceArea>AM</OriginServiceArea><DestinationServiceArea>A1</DestinationServiceArea><SignatureOption>INDIRECT</SignatureOption><ActualRateType>PAYOR_ACCOUNT_SHIPMENT</ActualRateType><RatedShipmentDetails><ShipmentRateDetail><RateType>PAYOR_ACCOUNT_SHIPMENT</RateType><RateScale>0000000</RateScale><RateZone>CA003O</RateZone><PricingCode>ACTUAL</PricingCode><RatedWeightMethod>ACTUAL</RatedWeightMethod><CurrencyExchangeRate><FromCurrency>CAD</FromCurrency><IntoCurrency>USD</IntoCurrency><Rate>0.7</Rate></CurrencyExchangeRate><DimDivisor>0</DimDivisor><FuelSurchargePercent>0.75</FuelSurchargePercent><TotalBillingWeight><Units>KG</Units><Value>2.72</Value></TotalBillingWeight><TotalBaseCharge><Currency>USD</Currency><Amount>164.72</Amount></TotalBaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><TotalNetFreight><Currency>USD</Currency><Amount>164.72</Amount></TotalNetFreight><TotalSurcharges><Currency>USD</Currency><Amount>3.71</Amount></TotalSurcharges><TotalNetFedExCharge><Currency>USD</Currency><Amount>168.43</Amount></TotalNetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><TotalNetCharge><Currency>USD</Currency><Amount>168.43</Amount></TotalNetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><TotalDutiesAndTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalDutiesAndTaxes><TotalNetChargeWithDutiesAndTaxes><Currency>USD</Currency><Amount>168.43</Amount></TotalNetChargeWithDutiesAndTaxes><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Description>Residential delivery</Description><Amount><Currency>USD</Currency><Amount>2.45</Amount></Amount></Surcharges><Surcharges><SurchargeType>FUEL</SurchargeType><Description>Fuel</Description><Amount><Currency>USD</Currency><Amount>1.26</Amount></Amount></Surcharges></ShipmentRateDetail></RatedShipmentDetails><RatedShipmentDetails><ShipmentRateDetail><RateType>RATED_ACCOUNT_SHIPMENT</RateType><RateScale>0000000</RateScale><RateZone>CA003O</RateZone><PricingCode>ACTUAL</PricingCode><RatedWeightMethod>[...]
