---
http_interactions:
- request:
    method: post
    uri: https://ct.soa-gw.canadapost.ca/rs/ship/price
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <mailing-scenario xmlns="http://www.canadapost.ca/ws/ship/rate">
          <customer-number>2004381</customer-number>
          <quote-type>commercial</quote-type>
          <parcel-characteristics>
            <weight>2.722</weight>
            <mailing-tube>false</mailing-tube>
            <unpackaged>false</unpackaged>
          </parcel-characteristics>
          <origin-postal-code>K1P1J1</origin-postal-code>
          <destination>
            <united-states>
              <zip-code>60601</zip-code>
            </united-states>
          </destination>
        </mailing-scenario>
    headers:
      Content-Type:
      - application/vnd.cpc.ship.rate+xml
      Authorization:
      - Basic NmU5M2Q1Mzk2ODg4MTcxNDowYmZhOWZjYjk4NTNkMWY1MWVlNTdh
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK,OK OK
      Content-Type:
      - application/vnd.cpc.ship.rate+xml; charset=UTF-8
      X-Global-Transaction-Id:
      - '2412275535'
      Svn-Build-Number:
      - ShippingTools.buildLevel.20160723.ER7B_2016-B9016.9016
      X-Client-Ip:
      - 10.229.109.82
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <price-quotes xmlns="http://www.canadapost.ca/ws/ship/rate"><price-quote><service-code>USA.EP</service-code><service-link rel="service" href="https://ct.soa-gw.canadapost.ca/rs/ship/service/USA.EP?country=US" media-type="application/vnd.cpc.ship.rate+xml"/><service-name>Expedited Parcel USA</service-name><price-details><base>24.98</base><taxes><gst>0.00</gst><pst>0.00</pst><hst>0.00</hst></taxes><due>25.98</due><options><option><option-code>DC</option-code><option-name>Delivery confirmation</option-name><option-price>0</option-price></option></options><adjustments><adjustment><adjustment-code>FUELSC</adjustment-code><adjustment-name>Fuel surcharge</adjustment-name><adjustment-cost>1.00</adjustment-cost><qualifier><percent>4.0</percent></qualifier></adjustment><adjustment><adjustment-code>V1DISC</adjustment-code><adjustment-name>SMB Savings</adjustment-name><adjustment-cost>0.00</adjustment-cost></adjustment></adjustments></price-details><weight-details/><service-standard><am-delivery>false</am-delivery><guaranteed-delivery>false</guaranteed-delivery><expected-transit-time>4</expected-transit-time><expected-delivery-date>2016-09-06</expected-delivery-date></service-standard></price-quote><price-quote><service-code>USA.PW.PARCEL</service-code><service-link rel="service" href="https://ct.soa-gw.canadapost.ca/rs/ship/service/USA.PW.PARCEL?country=US" media-type="application/vnd.cpc.ship.rate+xml"/><service-name>Priority Worldwide parcel USA</service-name><price-details><base>127.21</base><taxes><gst>0.00</gst><pst>0.00</pst><hst>0.00</hst></taxes><due>130.39</due><options><option><option-code>DC</option-code><optio[...]
